<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Graphical</h1>
    <div class="row">
        <div class="column">
          <img src="\graphicalImages\pixil-frame-0.png" onclick="graphicalManager.printb()">
          <img src="\graphicalImages\pixil-frame-1.png">
          <img src="\graphicalImages\pixil-frame-2.png">
          <img src="\graphicalImages\pixil-frame-3.png">

        </div>
        <div class="column">
          <img src="\graphicalImages\pixil-frame-4.png">
          <img src="\graphicalImages\pixil-frame-5.png">
          <img src="\graphicalImages\pixil-frame-6.png">
          <img src="\graphicalImages\pixil-frame-7.png">
        </div>
        <div class="column">
          <img src="\graphicalImages\pixil-frame-8.png">
          <img src="\graphicalImages\pixil-frame-9.png">
          <img src="\graphicalImages\pixil-frame-10.png">
          <img src="\graphicalImages\pixil-frame-11.png">
        </div>
        <div class="column">
          <img src="\graphicalImages\pixil-frame-12.png">
          <img src="\graphicalImages\pixil-frame-13.png">
          <img src="\graphicalImages\pixil-frame-14.png">
          <img src="\graphicalImages\pixil-frame-15.png">
        </div>
      </div>


    <form action="/graphical" method="POST">
        <button type="submit">Send</button>
    </form>
</body>
</html>

