<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <script type="module" src="graphical.js"></script> 
    <h1>Graphical</h1>
    <div id="pictures">
        <div class="row">
          <img src="\graphicalImages\pixil-frame-0.png" id="0">
          <img src="\graphicalImages\pixil-frame-1.png" id="1">
          <img src="\graphicalImages\pixil-frame-2.png" id="2">
          <img src="\graphicalImages\pixil-frame-3.png" id="3">

        </div>
        <div class="row">
          <img src="\graphicalImages\pixil-frame-4.png" id="4">
          <img src="\graphicalImages\pixil-frame-5.png" id="5">
          <img src="\graphicalImages\pixil-frame-6.png" id="6">
          <img src="\graphicalImages\pixil-frame-7.png" id="7">
        </div>
        <div class="row">
          <img src="\graphicalImages\pixil-frame-8.png" id="8">
          <img src="\graphicalImages\pixil-frame-9.png" id="9">
          <img src="\graphicalImages\pixil-frame-10.png" id="10">
          <img src="\graphicalImages\pixil-frame-11.png" id="11">
        </div>
        <div class="row">
          <img src="\graphicalImages\pixil-frame-12.png" id="12">
          <img src="\graphicalImages\pixil-frame-13.png" id="13">
          <img src="\graphicalImages\pixil-frame-14.png" id="14">
          <img src="\graphicalImages\pixil-frame-15.png" id="15">
        </div>
      </div>


    <form action="/gp" method="POST">
        <button type="submit">Send</button>
    </form>
</body>
</html>

